
body {
  padding: 0;
  background-color: ivory;
  /*border: solid 2px black;*/
  height: auto;
}

div {
  /*border: solid 1px red;*/
  /*border-radius: 10;*/
}

a:hover {
  text-decoration: none;
}
a{
  color: white;
}
h1 {
  font-weight: bold;
    color: gray;
    margin: 0px;
}

th, td {
  text-align: center;
  vertical-align: middle;
  height: 30px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

div {
  /*border: 1px red solid;*/
}


#img {
  border: 0;
  width: 200px;
  height: 150px;
  background-image: url("../main/img/456.png");
}

#logo {
  margin-top: -7px;
  margin-left: 0px;
  margin-right: 8px;
  width: 178px;
  height: 36px;
  line-height: 36px;
}

#box {
  border: 0px;
  width: 980px;
  height: 150px;
  margin: 40px auto;
  position: relative;
}

#menual-Name {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 300%;
  font-weight: bold;
  color: white;
  margin-right: 18px;
}


#container {
  padding: 15px;
  margin-top: 0;
  width: 100%;
  height: 230px;
  background-color: rgb(150 , 119 , 237 );
}


.form {
  height: 24px;
  margin: 0 auto;
  width: 950px;
  position: relative;
}

.menu {
  width: 80px;
  top: 15px;
  height: 24px;
  margin-left: 4px;
  float: left;
  text-align: center;
  color: white;
  font-weight: bold;
}

.page {
  width: 10px;
  height: 10px;
  margin: 3px;
  float: left;
}

.bord-top {
  width: 97.4%;
  height: 100px;

}
.table-box {
  /*background-color: #724;*/
  width:65%;
  margin: 0 auto;
  margin-bottom: 200px;
  opacity: 5;
}
.bord-container_round{

}
.bord-container {
  width:70%;
  margin:0 auto;
  position: relative;
}
/*.bord-container-form{

}*/
.bord-button{
  margin-top: 30px;
  float: right;
  padding: 10px;
}
.top-input{
  height: 40px;

}
#bord-btn{
  height: 40px;

}

.com-somenu {
  width: 90px;
  height: 90px;
  float: right;
  margin: 2px 3px 0 10px;
  border-radius: 50px;
}

.fa {
  font-size: 50px;
}

.fa-optin-monster {
  margin-top: 4px;
  color: red;
}

.fa-reddit-alien {
  margin-top: 4px;
  color: orange;
}

.fa-linux {
  margin-top: 4px;
  color: darkblue;
}

.com-font {
  color: black;
  font-weight: bold;
  font-size: 110%;
}
.footer_container {
  width: 100%;
  border-top: solid 1px gray;
  margin: auto;
}
.footer_domain-form{
  width: 980px;
  margin: 10px auto;
  height: 80px;
  text-align: center;
}
.footer_use{
  font-size: 17px;
}
.footer_menu {
  margin-left: 20px;
}
.com-oldbest-box {
  margin-top: 150px;
  text-align: center;
  background-color: ivory;
  height: auto;
  width: 980px;
  border: 1px black;
}
.com-titl-best {
  width: 300px;
  height: 300px;
}

.com-oldbest {

}





#com-somenu {
  margin: 0 auto;
  width: 980px;
  height: 95px;
  text-align: center;
}


#com-titl-best {
  margin: 10px auto 0 auto;
  width: 300px;
  height: 80px;
  color: white;
}






#kingmon {
  font-size: 50px;
}

#togemon {
  font-size: 50px;
}

#bordermon {
  font-size: 50px;
}
