@keyframes heartbeat {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


.slider-container {
  margin-top: -23px;
  text-align: center;
  /*position: absolute;*/
  /*left: 50%;*/
  /*top: 50%;*/
  width: 100%;
  height: 500px;
  /*margin: -300px 0 0 -400px;*/
  background-color: mediumseagreen;
}
.slider-container .slider-content {
  position: relative;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 60%;
  transform: translate(-50%, -50%);
}
.slider-container .slider-content .slider-single {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: z-index 0ms 250ms;
}
.slider-container .slider-content .slider-single .slider-single-image {
  /*position: relative;*/
  /*left: 0;
  top: 0;*/
  margin:-60px auto -90px; auto;
  width: 450px;
  height: 300px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transform: scale(0);
  opacity: 0;
}


/*.slider-container .slider-content .slider-single .slider-single-download {
  position: absolute;
  display: block;
  right: -22px;
  bottom: 12px;
  padding: 15px;
  color: #333333;
  background-color: #fdc84b;
  font-size: 18px;
  font-weight: 600;
  font-family: 'karla';
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  opacity: 0;
}*/
/*.slider-container .slider-content .slider-single .slider-single-download:hover, .slider-container .slider-content .slider-single .slider-single-download:focus {
  outline: none;
  text-decoration: none;
}*/
.slider-container .slider-content .slider-single .slider-single-title {
  display: block;
  /*float: left;*/
  /*margin: 16px 0 0 20px;*/
  font-size: 20px;
  font-family: 'karla';
  font-weight: 400;
  color: #ffffff;
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  opacity: 0;
  margin-top: 120px;
}
/*.slider-container .slider-content .slider-single .slider-single-likes {
  display: block;
  float: right;
  margin: 16px 20px 0 0;
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-likes i {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  color: #ff6060;
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transform: scale(0);
}*/
/*.slider-container .slider-content .slider-single .slider-single-likes p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: #ffffff;
}*/
.slider-container .slider-content .slider-single .slider-single-likes:hover, .slider-container .slider-content .slider-single .slider-single-likes:focus {
  outline: none;
  text-decoration: none;
}
.slider-container .slider-content .slider-single.preactivede .slider-single-image {
  transform: translateX(-50%) scale(0);
}
.slider-container .slider-content .slider-single.preactive {
  z-index: 1;
}
.slider-container .slider-content .slider-single.preactive .slider-single-image {
  opacity: .3;
  transform: translateX(-25%) scale(0.8);
}
.slider-container .slider-content .slider-single.preactive .slider-single-download {
  transform: translateX(-150px);
}
.slider-container .slider-content .slider-single.preactive .slider-single-title {
  transform: translateX(-150px);
}
.slider-container .slider-content .slider-single.preactive .slider-single-likes {
  transform: translateX(-150px);
}
.slider-container .slider-content .slider-single.proactive {
  z-index: 1;
}
.slider-container .slider-content .slider-single.proactive .slider-single-image {
  opacity: .3;
  transform: translateX(25%) scale(0.8);
}
.slider-container .slider-content .slider-single.proactive .slider-single-download {
  transform: translateX(150px);
}
.slider-container .slider-content .slider-single.proactive .slider-single-title {
  transform: translateX(150px);
}
.slider-container .slider-content .slider-single.proactive .slider-single-likes {
  transform: translateX(150px);
}
.slider-container .slider-content .slider-single.proactivede .slider-single-image {
  transform: translateX(50%) scale(0);
}
.slider-container .slider-content .slider-single.active {
  z-index: 2;
}
.slider-container .slider-content .slider-single.active .slider-single-image {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
.slider-container .slider-content .slider-single.active .slider-single-download {
  opacity: 1;
  transition-delay: 100ms;
  transform: translateX(0px);
}
.slider-container .slider-content .slider-single.active .slider-single-title {
  opacity: 1;
  transition-delay: 200ms;
  transform: translateX(0px);
}
.slider-container .slider-content .slider-single.active .slider-single-likes {
  opacity: 1;
  transition-delay: 300ms;
  transform: translateX(0px);
}
.slider-container .slider-content .slider-single.active .slider-single-likes i {
  animation-name: heartbeat;
  animation-duration: 500ms;
  animation-delay: 900ms;
  animation-interation: 1;
  animation-fill-mode: forwards;
}
.slider-container .slider-left {
  position: absolute;
  z-index: 50;
  display: block;
  right: 80%;
  top: 50%;
  color: #ffffff;
  transform: translateY(-50%);
  padding: 20px 15px;
  /*border-top: 2px solid #fdc84b;
  border-right: 2px solid #fdc84b;
  border-bottom: 2px solid #fdc84b;
  border-left: 2px solid #fdc84b;*/
  margin-right: -2px;
}

.slider-container .slider-left:hover {
  color: red;
}
.slider-container .slider-right {
  position: absolute;
  z-index: 3;
  display: block;
  left: 80%;
  top: 50%;
  color: #ffffff;
  transform: translateY(-50%);
  padding: 20px 15px;
  /*border-top: 2px solid #fdc84b;
  border-right: 2px solid #fdc84b;
  border-bottom: 2px solid #fdc84b;
  border-left: 2px solid #fdc84b;*/
  margin-left: -2px;
}

.slider-container .slider-right:hover {
  color: red;
}

body {
  padding: 0;
  background-color: ivory;
  /*border: solid 2px black;*/
  height: auto;
}

a:hover {
  text-decoration: none;
}

a{
  color: white;
}

h1 {
  margin-top: 0;
  font-weight: bold;
}

p {
  color: grey;
}

th, td {
  text-align: center;
  vertical-align: middle;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
/*헤더시작*/
#img {
  border: 0;
  width: 200px;
  height: 150px;
  background-image: url("img/monster01.png");
}

#logo {
  margin-top: -7px;
  margin-left: 0px;
  margin-right: 8px;
  width: 178px;
  height: 36px;
  line-height: 36px;
}

#box {
  border: 0px;
  width: 980px;
  height: 150px;
  margin: 40px auto;
  position: relative;
}

#menual-Name {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 300%;
  font-weight: bold;
  color: white;
  margin-right: 18px;
}


#container {
  padding: 15px;
  margin-top: 0;
  width: 100%;
  height: 230px;
  background-color: skyblue;
}


.form {
  height: 24px;
  margin: 0 auto;
  width: 950px;
  position: relative;
}

.menu {
  width: 80px;
  top: 15px;
  height: 24px;
  margin-left: 4px;
  float: left;
  text-align: center;
  color: white;
  font-weight: bold;
}

.page {
  width: 10px;
  height: 10px;
  margin: 3px;
  float: left;
}

/*헤더 끝*/




.footer_container {
  width: 100%;
  border-top: solid 1px gray;
  margin: auto;
}
.footer_domain-form{
  width: 980px;
  margin: 10px auto;
  height: 80px;
  text-align: center;
}
.footer_use{
  font-size: 17px;
}
.footer_menu {
  margin-left: 20px;
}

.com-somenu {
  width: 90px;
  height: 90px;
  float: right;
  margin: 2px 3px 0 10px;
  border-radius: 50px;
}

.fa {
  font-size: 50px;
}

.fa-optin-monster {
  margin-top: 4px;
  color: red;
}

.fa-reddit-alien {
  margin-top: 4px;
  color: orange;
}

.fa-linux {
  margin-top: 4px;
  color: darkblue;
}

.com-font {
  color: black;
  font-weight: bold;
  font-size: 110%;
}

.com-oldbest-box {
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 10px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  text-align: right;
  background-color: bisque;
  height: auto;
  width: 100%;
  /*border: 1px green solid;*/
}
.com-oldbest {

  margin-left: auto;
  margin-right: auto;
  margin-top: -300px;
  float: right;

  width: 800px;
  height: 300px;
}

.com-oldbest-standard {
  height: auto;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}
.com-titl-box {

  color: grey;
  font-weight: bold;
  font-size: 200%;

  /*border-right: 1px black solid;*/
  width: 150px;
  height: 300px;
}

.drop {
  text-align: right;
  line-height: 170px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 975px;
}
.drop>select {
  margin-right: 0;
}
.best>a {
  color: white;
}
.best {
  text-align: center;
  margin-left: 34px;
  width: 220px;
  height: 300px;
  /*border: 1px solid red;*/
  float: left;
}

.old-best {

  width: 220px;
  height: 250px;
}


#img {
  border: 0;
  width: 200px;
  height: 150px;
  background-image: url("../main/img/img1.png");
}

#logo {
  margin-top: -7px;
  margin-left: 0px;
  margin-right: 8px;
  width: 178px;
  height: 36px;
  line-height: 36px;
}

#menuName {
  position: absolute;
  bottom: 0px;
  right: 13px;
  width: auto;
  height: auto;
  color: white;
}

#box {
  border: 0px;
  width: 975px;
  height: 150px;
  margin: 40px auto;
  position: relative;
}


#com-somenu {
  margin: 5px auto;
  width: 970px;
  height: 95px;
  text-align: center;
}


#com-titl-best {
  margin: 10px auto 0 auto;
  width: 300px;
  height: 80px;
  color: white;
}

/*div {
  border: 1px red solid;
}*/

#kingmon {
  font-size: 50px;
}

#togemon {
  font-size: 50px;
}

#bordermon {
  font-size: 50px;
}
