
body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	font-family: 'Oxygen', sans-serif;
}

.main{
 	margin-top: 40px;
  margin-bottom: 80px;
}

h1.title {
	font-size: 50px;
	font-family: 'Passion One', cursive;
	font-weight: 400;
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

/* header */
.form {
  height: 24px;
  margin: 0 auto;
  width: 950px;
  position: relative;
}

.menu {
  width: 80px;
  top: 15px;
  height: 24px;
  margin-left: 4px;
  float: left;
  text-align: center;
  color: white;
  font-weight: bold;
}

.page {
  width: 10px;
  height: 10px;
  margin: 3px;
  float: left;
}

/* login_container */
.login_container {
  margin-top: 100px;
  height: 500px;
}

/* footer */
.footer_container {
  width: 100%;
  border-top: solid 1px gray;
  margin: auto;
}
.footer_domain-form{
  width: 980px;
  margin: 10px auto;
  height: 80px;
  text-align: center;
}
.footer_use{
  font-size: 17px;
}
.footer_menu {
  margin-left: 20px;
}

#img {
  border: 0;
  width: 180px;
  height: 180px;
  background-image: url("../main/img/img2.png");
}

#logo {
  margin-top: -7px;
  margin-left: 0px;
  margin-right: 8px;
  width: 178px;
  height: 36px;
  line-height: 36px;
}

#box {
  border: 0px;
  width: 980px;
  height: 150px;
  margin: 40px auto;
  position: relative;
}

#menual-Name {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 300%;
  font-weight: bold;
  color: white;
  margin-right: 18px;
}


#container {
  padding: 15px;
  margin-top: 0;
  width: 100%;
  height: 230px;
  background-color: #229af0;
}


h1{
  font-weight: bold;
  color: gray;
}

a{
  color: white;
}
a:hover {
  text-decoration: none;
}
