
body {
  padding: 0;
  background-color: ivory;
  /*border: solid 2px black;*/
  height: auto;
}
strong{
  font-size: 35px;
  font-weight: bold;
  margin-right: 221px;
  color: lightcoral;
}
div {
  /*border: solid 1px red;*/
  /*border-radius: 10;*/
}

a:hover {
  text-decoration: none;
}
a{
  color: white;
}
h1 {
  font-weight: bold;
    color: gray;
    margin: 0px;
}

th, td {
  text-align: center;
  vertical-align: middle;
  height: 30px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 6px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}




#img {
  border: 0;
  width: 200px;
  height: 150px;
  background-image: url("../main/img/paranmonster.png");
}

#logo {
  margin-top: -7px;
  margin-left: 0px;
  margin-right: 8px;
  width: 178px;
  height: 36px;
  line-height: 36px;
}

#box {
  border: 0px;
  width: 980px;
  height: 150px;
  margin: 40px auto;
  position: relative;
}

#menual-Name {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 300%;
  font-weight: bold;
  color: white;
  margin-right: 18px;
}


#container {
  padding: 15px;
  margin-top: 0;
  width: 100%;
  height: 230px;
  background-color: rgb(150 , 119 , 237 );
}


.form {
  height: 24px;
  margin: 0 auto;
  width: 950px;
  position: relative;
}

.menu {
  width: 80px;
  top: 15px;
  height: 24px;
  margin-left: 4px;
  float: left;
  text-align: center;
  color: white;
  font-weight: bold;
}

.page {
  width: 10px;
  height: 10px;
  margin: 3px;
  float: left;
}

.bord-top {
  width: 97.4%;
  height: 100px;

}
.table-box {
  /*background-color: #724;*/
  width:980px;
  margin: 0 auto;
}
.bord-container_round{

}
.bord-container {
  width:1100px;
  margin:0 auto;
  position: relative;
}
/*.bord-container-form{

}*/
.fa {
  margin-left: 286px;
  margin-right: 30px;

}
.fa-search:before {
    font-size: 30px;
}
.bord-button{
  margin: 30px 0 14px 58px;
  float: left;
  padding: 10px;
  margin-bottom: 14px;
}
.top-input{
  height: 40px;

}
#bord-btn{
  height: 40px;
  margin-bottom: 4px;
}

.com-somenu {
  width: 90px;
  height: 90px;
  float: right;
  margin: 2px 3px 0 10px;
  border-radius: 50px;
}
.standard-collection {
  font-weight: bold;
  color: gray;
  text-align: left;
  width: 980px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;

}
#top:hover{
  background-color: black;
}
.active2 > td > a {
  color: black;
}
.active2 > td > a:hover{
  color: tomato;
}
.active2 > td {
  color: tomato;
}

.com-font {
  color: black;
  font-weight: bold;
  font-size: 110%;
}
.footer_container {
  width: 100%;
  border-top: solid 1px gray;
  margin: auto;
}
.footer_domain-form{
  width: 980px;
  margin: 10px auto;
  height: 80px;
  text-align: center;
}
.footer_use{
  font-size: 17px;
}
.footer_menu {
  margin-left: 20px;
}
.com-oldbest-box {
  margin-top: 150px;
  text-align: center;
  background-color: ivory;
  height: auto;
  width: 980px;
  border: 1px black;
}

.top-font{
  font-size: 40px;
  font-weight: bold;
}
